@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-slate-50 text-slate-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
